<!DOCTYPE html>
<html lang="en">
<head>
   <link href="/newAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/newAdmin/css/sb-admin-2.min.css" rel="stylesheet">
     <!-- Custom styles for this template -->
    <link href="/newAdmin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/newAdmin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body>
    {{#if admin2}}
    {{>admin2-header}}
    {{/if}}
    {{{body}}}
     <!-- Bootstrap core JavaScript-->
    <script src="/newAdmin/vendor/jquery/jquery.min.js"></script>
    <script src="/newAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/newAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/newAdmin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/newAdmin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/newAdmin/js/demo/chart-area-demo.js"></script>
    <script src="/newAdmin/js/demo/chart-pie-demo.js"></script>
    <script src="/newAdmin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/newAdmin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/newAdmin/js/demo/datatables-demo.js"></script>

</body>
</html>